@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  @apply bg-bg-1 text-text-1 dark:bg-text-1 dark:text-bg-1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .align-center {
    text-align: center;
  }
}

.perfect-scrollbar {
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    // gray-2
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: content-box;
    // gray-1
    background-color: #e9ecef;
    cursor: pointer;
  }
}

button {
  border: none;
  outline: none;
}
